@media screen and (min-width: 769px) {
    .steps{
        /* min-width: 100vw; */
    }

    .steps .container{
        max-width: 100%;
    }

    .container{
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }

    .container{
    max-width: 100%;
    }

    
}

@media screen and (max-width: 480px) {
    
    .container{

    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    .lessons .col{
        width: 80%;

    }

    .steps .col{
        width: 80%;
    }

    .card{
        margin-bottom: 4em;
    }

    .why-us{
        background-color: #222222;
    }

    .why-us .container{
        padding: 0;
    }

    .steps, .why-us{
        margin-bottom: 0;
    }

    .why-us .text-center{
        padding: 2em 2em;
    }

    .why-us .col-left {
        margin-bottom: 3em;
        width: 70%;
    }
    
    .why-us .col-right {
        width: 70%;
    }

    
}

